aws_region = "us-east-1"
container_image = "123456789012.dkr.ecr.us-east-1.amazonaws.com/blog-phost-be:latest"
mongo_uri = "mongodb+srv://user:password@cluster.mongodb.net/blogphost"
jwt_secret = "replace-with-a-long-random-secret"
sendgrid_api_key = ""
cloudinary_cloud_name = ""
cloudinary_api_key = ""
cloudinary_api_secret = ""
unsplash_access_key = ""
